# Default ignored files
/shelf/
/workspace.xml
/vcs.xml
/AndroidPojectSystem.xml
/appInsightsSettings.xml
/assetWizardSettings.xml
/compiler.xml
/deploymentTargetSelector.xml
/gradle.xml
/migrations.xml
/runConfigurations.xml
/AndroidProjectSystem.xml
/misc.xml